@charset "UTF-8";

*{
    margin:0;
    padding:0;
}

body{
    margin: 70px 8px 8px 8px;

    background-color: #f4ebbe;
}

.content{
    max-width: 400px;
    max-height: 600px;
    margin: auto;    
    background-color: #ee82ee81;
    height: 450px;
    padding: 1%;
    border: 1px solid;
    border-radius: 10px;
}

.content h1{
    text-align: center;
    
}

.content p{
    margin: 10px;
    padding: 10px;
}

input[type=text]{
    width: 80%;
    height: 30px;
    border-radius: 5px;
}

input[type=button]{
    
    width: 17%;
    float: right;
    height: 35px;
    border-radius: 5px;
}

button{
    float: right;
    width: 25px;
    padding: 5px;
    border-radius: 5px
    
}

button:hover, input[type=button]:hover{
    background: #ccc;
    border-radius: 5px;
}

button, input[type=button]{ cursor: pointer;}

ul{
    list-style-type: none;
    padding: 10px;
    height: 275px;
    background: white;
    border:1px solid;
    border-radius: 5px;
    overflow: auto;

    
}

li{
    height: 32px;
    margin: 10px 0px 10px 0px;
    border-bottom: 1px solid;
    
    
}

footer{
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;   
}


footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: blue;
}